/*Обнуление*/
*,
*::before,
*::after {
	 padding: 0;
	 margin: 0;
	 border: 0;
	 box-sizing: border-box;
}
a {
	 text-decoration: none;
}
ul,
ol,
li {
	 list-style: none;
}
img{
	 vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	 font-weight: inherit;
	 font-size: inherit;
}
html,
body{
	background: #1C1C1C;
  height: 100%;
	 line-height: 1;
	 font-size: 16px;
	 color: #fff;
	 font-family: 'Roboto', sans-serif;
	 font-weight: 400;
}
body._lock{
   overflow: hidden;
}
.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}
._ibg {
	position: relative;
}
.page{
	flex: 1 1 auto;
}
._ibg img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
._container {
   max-width: 1140px;
   margin: 0px auto;
}

.header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
@media (min-width: 701px){
   .header{
      position: absolute;
   }
}
.header__container {
}
.header__body{
	padding: 0 15px 0 0;
	min-height: 76px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo-image {
   position: relative;
   z-index: 5;
}
.menu__icon {
   display: none;
}
._container {
}
.header__menu {
}
.menu {
}
.menu__list {
	display: flex;
}
.menu__item {
	padding: 0 25px 0 25px;
	position: relative;
}
.menu__item > a {
font-weight: normal;
font-size: 14px;
line-height: 114%;
color: #FFFFFF;
opacity: 0.7;
}
.menu__item > a:hover{
	opacity: 1;
	transition: all 0.3s ease 0s;
}
.button {
	min-width: 165px;
	max-height: 49px;
	background: #F6762C;
	border-radius: 5px;
}
@media (min-width: 701px){
	.button._menu-button{
		display: none;
	}
}
.button a{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 15px 37px;
	font-weight: 500;
font-size: 16px;
line-height: 118%;
color: #FFFFFF;
}
.button:hover{
	background: #b65822;
	transition: all 0.3s ease 0s;
}
.page {
}
.footer {
}
.footer__container {
}
@media (max-width: 820px){
	.menu__item{
		padding: 0 15px;
	}
	.button > a{
		font-size: 13px;
		padding: 12px 30px;
	}
}
@media (max-width: 701px){
   .menu__icon{
      z-index: 5;
      display: block;
      position: relative;
      width: 32.5px;
      height: 25px;
      cursor: pointer;
   }
	.header__logo-image{
		width: 90px;
	}
   .menu__icon span,
   .menu__icon::before,
   .menu__icon::after{
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background: #fff;
   }
   .menu__icon::before,
   .menu__icon::after{
      content: "";
   }
   .menu__icon::before{
      top: 0;
   }
   .menu__icon::after{
      bottom: 0;
   }
   .menu__icon span{
         top: 50%;
         transform: scale(1) translate(0px, -50%);
   }
   .menu__icon._active span{
      transform: scale(0) translate(0px, -50%);
   }
   .menu__icon._active::before{
      top: 45%;
      transform: rotate(-45deg) translate(0px, -50%);
   }
   .menu__icon._active::after{
      bottom: 51%;
      transform: rotate(45deg) translate(0px, 50%);
   }
   .header__menu{
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: #1C1C1C;
      padding: 40px 0 0 10px;
      transition: left 0.3s ease 0s;
      overflow: auto;
   }
   .header__menu._active{
      left: 0;
   }
   .menu__link{
      font-size: 40px;
   }
}
@media (max-width: 701px){
	.button{
		display: none;
	}
	.header__body{
      background-color: #1d1c1c;
		max-height: 69px;
    }
	.button._menu-button{
		display: block;
	}
	.header__menu{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.menu__list{
		flex-direction: column;
	}
	.menu__item{
		padding: 20px 0;
		text-align: center;
	}
	.menu__item > a{
		font-size: 35px;
	}
	.menu__item:last-child{
		margin-bottom: 10px;
	}
	.button{
		min-width: 180px;
		max-height: 70px;	
	}
	.button a{
		font-size: 25px;
	}
}
@media (max-width: 500px){
	.menu__item > a{
		font-size: 35px;
	}
	.menu__item{
		padding: 15px 0;
	}
}

/* main-block -----------------*/

.main-block {
	position: relative;
	min-height: 100vh;
	margin-bottom: 100px;
}
@media (max-width: 701px){
	.main-block{
		min-height: 90vh;
	}
}
.main-block__body {
	padding: 250px 0 100px 0;
	position: relative;
	z-index: 2;
	max-width: 500px;
	margin: 0 20px;
}


.main-block__image{
		 position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

@media (max-width: 500px){
	.main-block__image img{
		 object-position: left right;
	}
}

@media (max-width: 992px) {
		 .main-block__image img{
		 opacity: 0.5;
	}
}
.main-block__title {
	font-weight: 500;
font-size: 14px;
line-height: 114%;
letter-spacing: 0.1em;
color: #FFFFFF;
}
.main-block__article {
	font-weight: 500;
font-size: 57.33px;
line-height: 117%;
color: #FFFFFF;
}
.main-block__text {
	font-weight: 400;
	font-size: 18px;
line-height: 116%;
color: #FFFFFF;
opacity: 0.7;
max-width: 480px;
}
.main-block__title{
	margin-bottom: 7px;
}
.main-block__article{
	margin-bottom: 37px;
}
.main-block__text{
	margin-bottom: 40px;
}
.main-block__button-link {
	max-width: 165px;
	max-height: 49px;
	background: #F6762C;
	border-radius: 5px;
}
.main-button__button-link:hover{
	background: #b65822;
	transition: all 0.3s ease 0s;
}
.main-block__button-link > a {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 37px;
	font-weight: 500;
font-size: 16px;
line-height: 118%;
color: #FFFFFF;
}
@media (max-width: 973px){
	.main-block__title{
		font-size: 12px;
	}
	.main-block__article{
		font-size: 45px;
	}
	.main-block__text{
		font-size: 15px;
		max-width: 345px;
	}
	.main-block__article{
		margin-bottom: 25px;
	}
	.main-block__text{
		margin-bottom: 30px;
	}
}
@media (max-width: 615px){
	.main-block__title{
		font-size: 11px;
	}
	.main-block__text{
		font-size: 12px;
	}
	.main-block__text{
		max-width: 280px;
	}
	.main-block__article{
		font-size: 40px;
		max-width: 283px;
	}
}

/* meal-block ---------------------------------------- */
.meal__block {
	margin-bottom: 100px;
}
.meal {
}
.meal__container {
	padding: 0 10px;
}
._container {
}
.meal__body {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.meal__column {
	margin: 20px 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #312F30;
border-radius: 10px;
max-width: 262px;
}
@media (max-width: 1114px){
	.meal__container{
		max-width: 780px;
	}
}
@media (max-width: 584px){
	.meal__block{
		margin-bottom: 80px;
	}
	.main-block {
		margin-bottom: 80px;
	}
}
@media (max-width: 1114px){
	.meal__body{
		justify-content: center;
	}
	.meal__column{
		margin: 20px 10px;
	}
}
.meal__image {
}
.meal__title {
	margin-top: 28px;
	text-align: center;
	font-weight: 500;
font-size: 20px;
line-height: 115%;
color: #FFFFFF;
}
.meal__text {
	margin: 13px 0 30px 0;
	text-align: center;
	font-weight: normal;
font-size: 16px;
line-height: 118%;
color: #FFFFFF;
opacity: 0.7;
}

/* sale-block ----------------------------------- */
.burger__sale {
	background: #312F30;
	max-height: 543px;
	margin-bottom: 150px;
}
.sale {
}
.sale__container {
}
._container {
}
.sale__body {
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.sale__description {
}
.sale__title {
	font-weight: 500;
font-size: 44.2px;
line-height: 118%;
color: #FFFFFF
}
.sale__text{
max-width: 360px;
font-weight: normal;
font-size: 16px;
line-height: 118%;
color: #FFFFFF;
opacity: 0.7;
margin: 24px 0 13px 0;
}
.sale__price {
	margin-bottom: 11px;
	color: #F6762C;
}
.sale__price-low {
	margin-right: 6px;
}
.sale__price-realy {
	opacity: 0.7;
}
.main-block__button-link {
}

@media (max-width: 920px){
	.sale__image{
		width: 300px;
	}
}
@media (max-width: 720px){
	.sale__title{
		font-size: 33px;
	}
	.sale__text{
		font-size: 13px;
		margin: 20px 0 10px 0;
	}
}

@media (max-width: 531px){
	.sale__image{
		width: 250px;
	}
	.sale__title{
		font-size: 26px;
	}
	.sale__text{
		font-size: 12px;
	}
}

@media (max-width: 471px){
	.sale__image{
		width: 230px;
	}
	.sale__title{
		font-size: 23px;
	}
	.sale__text{
		font-size: 11px;
	}
}
@media (max-width: 431px){
	.sale__text{
		margin: 10px 0 5px 0;
	}
}
@media (max-width: 429px){
	.sale__description{
		margin: 5px 0;
	}
	.main-block__button-link {
		max-width: 130px;
		max-height: 35px;
	}
	.main-block__button-link > a {
		font-size: 13px;
		padding: 11px 0 30px 0;
	}
	.sale__image{
		width: 200px;
	}
}

@media (max-width: 394px){
	.sale__image{
		width: 170px;
	}
	.sale__title{
		font-size: 20px;
	}
	.sale__text{
		font-size: 9px;
	}
}
@media (max-width: 391px){
	.sale__text{
		max-width: 150px;
	}
}

/* eateries-block ---------------------- */

.eateries__block {
	margin: 0 10px;
}
.eateries {
}
.eateries__container {
}
._container {
}
.eateries__body {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}
@media (max-width: 1150px){
	.eateries__body{
		justify-content: center;
	}
	.eaprice-but{
		margin-right: 80px;
	}
}
@media (min-width: 1150px){
	.eaprice-but{
		margin-right: 80px;
	}
}
.eateries__column {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	min-height: 300px;
	min-width: 555px;
	margin: 10px 5px;
	padding: 0 20px;
}
.dairy{
	background: url(../img/eateries/dairy.png) 0 0 no-repeat;
}
.burger{
	background: url(../img/eateries/burger.png) 0 0 no-repeat;
}
.pizza{
	background: url(../img/eateries/pizza.png) 0 0 no-repeat;
	align-items: start;
}
.papa{
	background: url(../img/eateries/papa.png) 0 0 no-repeat;
	align-items: start;
}
.eateries__title {
	margin-right: 80px;
	font-weight: 500;
font-size: 30px;
line-height: 116%;
color: #FFFFFF;
}
.eateries__text {
	margin: 20px 0 11px 0;
	font-weight: normal;
font-size: 16px;
line-height: 118%;
color: #FFFFFF;
opacity: 0.7;
max-width: 240px;
}
.eaprice {
	margin-right: 190px;
}

@media (max-width: 610px){
	.eateries__column{
		min-width: 400px;
		min-height: 200px;
	}
	.pizza{
		background: url(../img/eateries/pizza.png) center no-repeat;
	}
	.dairy{
		align-items: flex-start;
	}
	.burger{
		align-items: flex-start;
	}
}

@media (max-width: 429px){
	.eaprice-but{
		width: 100%;
	}
}

@media (max-width: 388px){
	.eateries__column{
		padding-left: 60px;
	}
}

/* ourMenu--------------------------------- */
.ourmenu-block {
	background: #312F30;
	min-height: 170px;
	margin: 80px 0;
}
.ourmenu {
}
.ourmenu__conainer{
}
.ourmenu__body{
	padding: 0 20px;
	min-height: 170px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.ourmenu__title {
	font-weight: 500;
font-size: 40px;
line-height: 117%;
color: #FFFFFF;
margin-right: 30px;
}
@media (max-width: 635px){
	.ourmenu__body{
		justify-content: center;
		flex-direction: column;
	}
	.ourmenu__title{
		padding-bottom: 20px;
	}
}
@media (max-width: 505px){
	.ourmenu__title{
		font-size: 30px;
		margin: 0;
	}
}
@media (max-width: 430px){
	.menu-button{
		max-width: 205px;
		min-width: 150px;
		min-height: 50px;
	}
	.menu-button > a{
		font-size: 20px;
	}
}
.main-block__button-link:hover {
	background: #b65822;
	transition: all 0.3s ease 0s;
}

/* footer */

.footer {
   padding: 0 20px;
   font-family: 'Inter', sans-serif;
   background-color: linear-gradient(rgba(74, 24, 140, 1), rgba(12, 0, 61, 1));
}
.footer__container {
}
.footer__body {
   display: flex;
   padding-bottom: 55px;
   border-bottom: 2px solid rgba(51, 15, 111, 1);
}
@media (max-width: 1000px){
   .footer__body{
      flex-direction: column;
   }
   .footer__logo{
      margin-bottom: 20px;
   }
}
@media (max-width: 657px){
   .footer__columns{
      flex-wrap: wrap;
      flex-direction: space-between;
   }
   .footer{
      padding: 0 10px;
   }
   .footer__list{
      padding: 10px;
   }
}
.footer__logo {
   margin-right: 180px;
}
.footer__logo-image {
}
.footer__column {
}
.footer__columns {
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.footer__list {
}
.footer__item {
   font-weight: normal;
font-size: 16px;
line-height: 130%;
color: #FFFFFF;
opacity: 0.7;
}
.footer__item:hover{
   color: #ff7b47;
   transition: all 0.3s ease 0s;
   cursor: pointer;
}
.footer__item-title{
font-weight: 500;
font-size: 20px;
line-height: 156%;
color: #FFFFFF;
margin-bottom: 25px;
}
.footer__link {
   padding-right: 12px;
}

.footer__privacy {
   padding: 33px 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.footer__copyright {
   font-weight: normal;
font-size: 16px;
line-height: 150%;
color: #FFFEFF;
}
.footer__termPolicy {
   font-weight: normal;
   font-size: 16px;
   line-height: 150%;
   color: #FFFEFF;
}
@media (max-width: 580px){
   .footer__copyright{
      font-size: 14px;
   }
   .footer__termPolicy{
      font-size: 14px;
   }
}
@media (max-width: 485px){
   .footer__copyright{
      margin-bottom: 10px;
   }
   .footer__termPolicy > span {
      padding-left: 5px;
   }
   .footer__termPolicy-item {
      padding-right: 5px;
   }
   .footer__privacy{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 25px 0;
   }
}
.footer__termPolicy > span {
   padding-left: 10px;
}
.footer__termPolicy-item {
   padding-right: 10px;
   border-right: 2px solid #fff;
}

.footer__termPolicy > *:hover{
   color: #ff7b47;
   transition: all 0.3s ease 0s;
   cursor: pointer;
}

.footer__email{
	background: url(../img/footer/icons/email.svg) left 2.5px no-repeat;
	margin-bottom: 10px;
	display: block;
}
.footer__site{
	background: url(../img/footer/icons/global.svg) left 2.5px no-repeat;
	display: block;
}
.footer__email > a{
	margin-left: 17px;
	color: #FFFFFF;
	opacity: 0.8;
}
.footer__site > a{
	margin-left: 17px;
	color: #FFFFFF;
	opacity: 0.8;
}
.footer__email > a:hover{
	text-decoration: underline;
}
.footer__site > a:hover{
	text-decoration: underline;
}